*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(22, 80, 68)
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
    background-color: rgb(4, 59, 38);
    font-family: sans-serif;
}

#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    background-color: bisque;
    position:absolute;
    top: -85vh;
    right: 0px;
    width: 200px;
    align-items: center;
    list-style: none;
    transition: ease 0.3s;
    
}

#nav-links a{
    text-decoration: none;
    color: black;
    background-color: rgb(241, 210, 171);
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    border: solid;
    padding: 0.5rem;
}
.nav-active{
    transform: translateY(100vh)
}
#nav-links a:hover{
    font-weight: bold;
    transition: ease 0.2s;
}

.burger_line{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}
    
#burger {
    margin-right: 5rem;
}

#content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(222, 184, 135, 0.827);
    height: 20vh;
    width: 90vw;
    font-size: 3rem;
}

