*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#nav_index{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:800px){
#Logo{
    height: 100%;
    background: none;
}

#Logo:hover{
    cursor: pointer;
}

h2{
    border:solid;
    padding: 0.5rem;
    border-radius: 0.3rem; 
    background: none;
    display: flex;
    justify-content: center;
}

h2:hover{
    background: rgba(248, 224, 160, 0.61)
}

article{
    color: antiquewhite;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: rgb(4, 59, 38);
    font-family: sans-serif;
}

#nav_index{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    background-color: bisque;
    position:absolute;
    top: -85vh;
    right: 0px;
    width: 200px;
    align-items: center;
    list-style: none;
    transition: ease 0.3s;
    
}

#nav-links a{
    text-decoration: none;
    color: black;
    background-color: rgb(241, 210, 171);
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    border: solid;
    padding: 0.5rem;
}
.nav-active{
    transform: translateY(100vh)
}
#nav-links a:hover{
    font-weight: bold;
    transition: ease 0.2s;
    
}

.burger_line{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
    
}

#burger {
    margin-right: 5rem;
    background: none;
}

#textbox1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#textbox2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridwrapper{
    background: #111;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a1"
    "a2"
    ;
    width: 100%;
}

.size{
    height: 80%;
    width: 90%;
    margin: 2rem;
    font-size: 1.5rem;
}

#Art1{
    grid-area: a1;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#Art2{
    grid-area: a2;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: rgba(150, 87, 87, 0.39)
}

.frontimg{
    height: 50vh;
}
#footer{

}

}